@font-face {
    font-family: 'League-gothic';
    src: url('league-gothic/League_Gothic-webfont.eot');
    src: url('league-gothic/League_Gothic-webfont.eot?iefix') format('eot'),
    url('league-gothic/League_Gothic-webfont.woff') format('woff'),
    url('league-gothic/League_Gothic-webfont.ttf') format('truetype');
}

body {
    margin-top: 16px;
}

#toc > ul {
    padding: 1em;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#toc > ul > li {
    margin-bottom: 0.5em;
}

#toc > ul > li > a {
    font-weight: bold;
}

#toc li {
    margin-bottom: 0.2em;
}

#toc a {
    color: #333;
}

h1 {
    margin: 0 0 16px 0;
    font-family: 'League-gothic';
    font-size: 60px;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
    padding: 24px 16px;
    display: inline-block;
}

h2 {
    margin: 0.7em 0 0.3em 0;
}

h3 {
    margin: 0.7em 0 0.3em 0;
}

h4 {
    margin: 1.2em 0 0.5em 0;
}

#demo-table {
    margin-bottom: 1.5em;
    border: solid 2px #333;
}

#demo-table thead th {
    padding: 1em 1em 1em 2em;
}

#demo-table tbody td {
    padding: 1em 2em;
}

#demo-table tbody tr:last-child {
    border-bottom: solid 2px #333;
}

pre[class*="language-"] {
    margin: 2em 0;
}

pre.no-margin {
    margin: 0;
}

#table2 {
    margin: 1em 0 2em 0;
    border: solid 1px #333;
}

#table2 tbody tr:last-child {
    border-bottom: solid 1px #333;
}